.card {
  width: 210px;
  border-left: 1px grey solid;
  border-right: 1px grey solid;
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
  border-radius: 5px;
  text-align: center;
}

img {
  width: 200px;
  border-left: solid 5px rgb(236, 183, 191);
  border-right: solid 5px rgb(236, 183, 191);
  border-top: solid 5px rgb(236, 183, 191);
  border-bottom: solid 5px rgb(236, 183, 191);
  border-radius: 50%;
}
